{% extends 'milliard/base.html' %}

{{% block titleStatic %}
    <title>О, миллиардер! - Выберите друга</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'milliard/css/call_friend_styles.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <header class="header">      
    </header>
    <section class="content">
      <h1 class="title">{{ question.question_text }}</h1>
      <div class="gameContent">
        <div class = "contain">
          <ul>
           {% for i in numbers %}
            {% if i == 10 and i == question.level %}
              <li class="currentVoprosRed">
                <div class = "level" > {{i}} </div>
                <div class = "sum" > <span class="badge badge-pill badge-warning ">{{ levels|get_item:i }}</span> </div>
              </li>
            {% elif i == 5 and i == question.level %}
              <li class="currentVoprosRed">
                <div class = "level" > {{i}} </div>
                <div class = "sum" > <span class="badge badge-pill badge-warning ">{{ levels|get_item:i }}</span> </div>
              </li>
            {% elif i == question.level %}
              <li class="currentVopros">
                <div class = "level" > {{i}} </div>
                <div class = "sum" > <span class="badge badge-pill badge-warning ">{{ levels|get_item:i }}</span> </div>
              </li>
            {% elif i == 10 or i == 5 %}
              <li class="fixsum">
                <div class = "level" > {{i}} </div>
                <div class = "sum" > <span class="badge badge-pill badge-warning">{{ levels|get_item:i }}</span> </div>
              </li>
            {% elif i > question.level %}
              <li class="Vopros">
                <div class = "level" > {{i}} </div>
                <div class = "sum" > <span class="badge badge-pill badge-warning">{{ levels|get_item:i }}</span> </div>
              </li>
            {% elif i < question.level %}
              <li class="answeredVopros">
                <div class = "level" > {{i}} </div>
                <div class = "sum" > <span class="badge badge-pill badge-warning">{{ levels|get_item:i }}</span> </div>
              </li>
            {% endif %}
          {% endfor %}
          <ul>
        </div>
          <div class="g-center block">
            <div class="callFriend">
              <p>Введите имя друга, которому будете звонить</p>
              <form action="{% url 'call_friend_url' player.id question.id question.question_text %}" method="post">
              {% csrf_token %} 
              <div class="form-group">              
              {% if form.name.errors %}
                <div class="alert alert-danger"> 
                  {{form.name.errors}}  
                 </div>             
              {% endif %}
              {{form.name}}
              </div>
              <p class="enterme"><button type="submit" class="enterName"> Сохранить  </button></p>
              </form> 
            </div>
          </div>
          <div class="g-rigth block">
            {% if player.fifty_fifty %}
              <a href="#"><img src="{% static 'milliard/css/images/help50.jpg' %}" alt="" class="remark"></a>
            {% endif %}
            {% if player.help_people %}
            <a href="#"><img src="{% static 'milliard/css/images/helpZal.png' %}" alt="" class="remark"></a>
            {% endif %}
            {% if player.money_won %}
              <a href="{% url 'take_money_url' player.id %}" class="takeMoney" 
              onclick="return confirm('Миллиард раз подумайте, прежде чем нажать OK')">ЗАБРАТЬ ДЕНЬГИ</a>
            {% endif %}       
          </div>
      </div>
    </section>
{% endblock %}