<{% extends 'milliard/base.html' %}

{{% block titleStatic %}
	<title>О, миллиардер! - Создание игрока</title>
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'milliard/css/create_player_styles.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class = "container offset-md-1 mt-5" >
        <div class = "row">
            <div class = "col-sm-6 mt-5">                   
                <p class="enter">Введите имя миллиардера</p>
                <form action="{% url 'create_player_url' %}" method="post">
                {% csrf_token %} 
                <div class="form-group">              
                    {% if form.name.errors %}
                        <div class="alert alert-danger"> {{form.name.errors}} </div>             
                    {% endif %}
                    {{form.name}}
                </div>
                <button type="submit" class="btn btn-success"> Сохранить  </button>
                </form>             
            </div>
        </div>
    </div>
{% endblock %}







  