<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>О, миллиардер! - {{question.level}}</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'milliard/css/question_show2_styles.css' %}" type="text/css">

</head>

<body>

<div class="first">
</div>
</br>
<h1 align="center">{{question.question_text }}</h1></br>

<div class = "container offset-md-4 " >
    <div class = "row">
        <div class = "col-sm-6 ">  
<form action="{% url 'answer' player.id question.id question.question_text%}" method="post">
{% csrf_token %}
{% for variant in two_variants %}
  <div class="block">	
		<input type="radio" name="variant" value="{{ variant.id }}">
    <p><b>{{variant.choice_text}}</b></p>
	  </div>
{% endfor %} 
</br> <input type="submit" value="Ответить">
</form>
</div>

  <div class = "col-sm-6 ">

<div class="card-deck" >
  {% if player.fifty_fifty %}
    <div class="card">
      <a href="{% url 'fifty_fifty_url' player.id question.id question.question_text %}">
      <img src="{% static 'milliard/css/images/Winner_img.jpg' %}" class="card-img-top" alt="..."></a>
    </div>
  {% endif %}
  {% if player.help_people %}
    <div class="card">
      <a href="{% url 'help_people_url' player.id question.id question.question_text %}">
      <img src="{% static 'milliard/css/images/Winner_img.jpg' %}" class="card-img-top" alt="..."></a>
    </div>
  {% endif %}
  {% if player.call_friend %}
    <div class="card w-25">
      <a href="{% url 'call_friend_url' player.id question.id question.question_text %}">
      <img src="{% static 'milliard/css/images/Winner_img.jpg' %}" class="card-img-top" alt="..."></a>
    </div>
  {% endif %}
</div>
  {% if player.money_won %}
    <form action="{% url 'take_money_url' player.id %}" >
    {% csrf_token %}
      </br><button class="button" type="submit" onclick="return confirm('Are you sure?')"> Забрать деньги </button>
    </form>
  {% endif %}
  </div>

  </div>
    </div>


	





</body>
</html>
  

тест 50

