{% extends 'milliard/base.html' %}

{{% block titleStatic %}
	<title>О, миллиардер! - Конец игры</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'milliard/css/game_over_styles.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1>GAME OVER</h1>
    <div class="otvet">
      <strong class="false"> {{player.name}}, Вы дали неправильный ответ!</strong>
      <p class="true"> Вот верный ответ: {{question.correct_answer.correct_answer_text}}</p>
    </div>
    <div class="itog">
    <strong class="win">Ваш итоговый выигрыш составил:
    <span class="winPrice"> {{player.money_won}} млн. долларов</span></strong>
    </div>
    <div class="best"> 
      <p align="center"><b><span style="font-size: 20px"> ЛУЧШИЕ ИЗ ЛУЧШИХ </span></b></p>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr align="center">
              <th scope="col">Имя</th>
              <th class="money" scope="col">Выигрыш</th>
            </tr>
          </thead>  
          <tbody>
          {% for gamer in gamers  %}
            <tr align="center">
              <td >{{gamer.name }}</td>
            {% if gamer.money_won != 1000 %}
              <td >{{gamer.money_won}} млн. долларов</td>
            {% else %}
              <td >1 миллиард долларов</td>
            {% endif %}
            </tr>
          {% endfor %}
          </tbody>  
        </table>
    </div>
    <div class="button">       
    <a href="{% url 'start_page_url' %}" class="btn btn-primary btn-lg  active" 
    role="button" aria-pressed="true"> Главная страница </a> &emsp;&emsp;
    <a href="{% url 'create_player_url' %}" class="btn btn-success btn-lg  active" role="button" aria-pressed="true"> Сыграть еще раз </a>
     </div>  
{% endblock %}