{% extends 'milliard/base.html' %}

{{% block titleStatic %}
	<title>О, миллиардер!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'milliard/css/start_page_styles.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="gameName"><p> О, МИЛЛИАРДЕР! </p></div>
    <div class="push">
        <a href="{% url 'create_player_url' %}" class="btn btn-success btn-lg  active" role="button" aria-pressed="true"><b>НАЧАТЬ ИГРУ!</b></a>       
    </div>    
{% endblock %}






