<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>О, миллиардер!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'milliard/css/start_page_styles.css' %}" type="text/css">
</head>
<body>
    <h1><strong> О, МИЛЛИАРДЕР! </strong><h1>

    <div class="push">
        <a href="{% url 'create_player_url' %}" class="btn btn-success btn-lg  active" role="button" aria-pressed="true">
        &emsp;НАЧАТЬ ИГРУ!&emsp; </a>        
    </div>    

</body>
</html>





