{% extends 'milliard/base.html' %}

{{% block titleStatic %}
    <title>О, миллиардер! - Получение выигрыша</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'milliard/css/take_money_styles.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1 style="color: green; font-size: 50px; margin-left:40px; margin-top:2%">ВЫ УСПЕЛИ ЗАБРАТЬ ДЕНЬГИ!</h1></br>
    </br></br><strong style="color: red; font-size: 30px; margin-left:30px">Ваш итоговый выигрыш составил:
    <span style="color: blue"> {{player.money_won}} млн. долларов</span></strong>
    <div class = "container offset-md-1 mt-5" >
      <div class = "row">
        <div class = "col-sm-6 mt-5">  
          </br><p align="center"><b><span style="font-size: 20px"> ЛУЧШИЕ ИЗ ЛУЧШИХ </span></b></p>
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr align="center">
                <th scope="col">Имя</th>
                <th scope="col">Выигрыш</th>
              </tr>
            </thead>  
            <tbody>
            {% for gamer in gamers  %}
              <tr align="center">
                <td >{{gamer.name }}</td>
              {% if gamer.money_won != 1000 %}
                <td >{{gamer.money_won}} млн. долларов</td>
              {% else %}
                <td >1 миллиард долларов</td>
              {% endif %}
              </tr>
            {% endfor %}
            </tbody>  
          </table>
        </div>
      </div>
    </div>
    <a style="margin-left:225px; margin-top:2%" href="{% url 'start_page_url' %}" class="btn btn-primary btn-lg  active" 
    role="button" aria-pressed="true"> Главная страница </a> &emsp;
    <a style="margin-top:2%" href="{% url 'create_player_url' %}" class="btn btn-success btn-lg  active" 
    role="button" aria-pressed="true"> Сыграть еще раз </a>
{% endblock %}



