{% extends 'milliard/base.html' %}

{{% block titleStatic %}
	  <title>О, миллиардер! - Победитель</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'milliard/css/winner_styles.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1 style="color: yellow; font-size: 55px; text-align: center; margin-top:22px; font-family: 'Courier New', Courier, monospace;">
    ЗНАЕТ КАЖДЫЙ ПИОНЕР, ЧТО {{player.name}} - МИЛЛИАРДЕР!</h1>
    <div class = "container " >
        <div class = "row">
            <div class = "col-sm-6 mt-4 offset-md-8">  
              <p align="center"><b><span style="color: white; font-size: 20px"> ЛУЧШИЕ ИЗ ЛУЧШИХ </span></b></p>
              <table class="table table-bordered table-striped table-dark">
                <thead class="thead-dark">
                  <tr align="center">
                    <th scope="col">Имя</th>
                    <th scope="col">Выигрыш</th>
                  </tr>
                </thead>  
                <tbody>
                  {% for gamer in gamers  %}
                    <tr align="center">
                      <td >{{gamer.name }}</td>
                      {% if gamer.money_won != 1000 %}
                        <td >{{gamer.money_won}} млн. долларов</td>
                      {% else %}
                        <td >1 миллиард долларов</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                 </tbody>  
                </table>
              </div>
          </div>
      </div>
      </br><a style="margin-left:7%; margin-top:10%" href="{% url 'start_page_url' %}" class="btn btn-danger btn-lg  active" 
      role="button" aria-pressed="true"> Главная страница </a> &emsp;&emsp;
      <a style="margin-top:10%" href="{% url 'create_player_url' %}" class="btn btn-success btn-lg  active" 
      role="button" aria-pressed="true"> Сыграть еще раз </a>
{% endblock %}