{% extends 'milliard/base.html' %}

{{% block titleStatic %}
	  <title>О, миллиардер! - Победитель</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'milliard/css/winner_styles.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1> ЗНАЕТ КАЖДЫЙ ПИОНЕР, ЧТО {{player.name}} -</h1>
    <p class="milliarder">МИЛЛИАРДЕР!</p>
    <div class="best"> 
      <p align="center"><b><span style="color: white; font-size: 20px"> ЛУЧШИЕ ИЗ ЛУЧШИХ </span></b></p>
        <table class="table table-sm table-bordered table-striped table-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Имя</th>
              <th class="money" scope="col">Выигрыш</th>
            </tr>
          </thead>  
          <tbody>
          {% for gamer in gamers  %}
            <tr>
              <td >{{gamer.name }}</td>
            {% if gamer.money_won != 1000 %}
              <td >{{gamer.money_won}} млн. долларов</td>
            {% else %}
              <td >1 миллиард долларов</td>
            {% endif %}
            </tr>
          {% endfor %}
          </tbody>  
        </table>
    </div>
    <div class="knopki">
    <a style="margin-left:2%; href="{% url 'start_page_url' %}" class="btn btn-danger btn-lg  active" 
    role="button" aria-pressed="true"> Главная страница </a> &emsp;&emsp;
    <a href="{% url 'create_player_url' %}" class="btn btn-success btn-lg  active" 
    role="button" aria-pressed="true"> Сыграть еще раз </a>
    </div>
{% endblock %}