{{question.question_text }}

<style>
	input[type="submit"]  {
		pointer-events: none;
	}
	input:checked ~ input[type="submit"] {
		pointer-events: auto;
	}
</style>

<form action="{% url 'answer' player.id question.id question.question_text%}" method="post">
{% csrf_token %}
   {% for variant in question.variants.all %}
   </br><input type="radio" name="variant" value="{{ variant.id }}">{{variant.choice_text}}</br>
{% endfor %} 
    </br><input type="submit" value="Ответить">
</form>

Правильный ответ! 
Сумма в банке:
{{player.money_won}}
million $$$

Ебт 10

{% if player.fifty_fifty %}
<h1> <a href="{% url 'fifty_fifty_url' player.id question.id question.question_text %}"> 50/50 </a> </h1>
{% else %}
</br><del> 50/50 </del>
{% endif %}

{% if player.help_people %}
<h1> <a href="{% url 'help_people_url' player.id question.id question.question_text %}"> Помощь зала </a> </h1>
{% else %}
</br><del> Помощь зала </del>
{% endif %}

{% if player.call_friend %}
<h1> <a href="{% url 'call_friend_url' player.id question.id question.question_text %}"> Звонок другу </a> </h1>
{% else %}
</br><del> Звонок другу </del>
{% endif %}

<form action="{% url 'take_money_url' player.id %}" >
{% csrf_token %}
    <button type="submit" onclick="return confirm('Are you sure?')"> Забрать деньги </button>
</form>