body {
    background-image: url("Start_page_img.jpg");
    background-size: 100%;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 23px;
}

.push {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

